@import "mixin";
.section-current {
  h2::before {
    content: "\f017" !important;
  }
  .inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: bgsize 25s infinite linear alternate;
      @keyframes bgsize {
        0% {
          transform: scale(1.3);
          filter: blur(2px);
        }
        90% {
          transform: scale(1);
          filter: blur(0px);
        }
        100% {
          transform: scale(1);
          filter: blur(0px);
        }
      }
    }
    .wrap {
      position: relative;
      width: 100%;
      .address {
        margin-bottom: 15px;
        font-size: 1.5em;
        padding-bottom: 5px;
        border-bottom: 1px dotted rgba(#fff, 0.5);
        button {
          float: right;
          animation: rotate 5s infinite linear;
          opacity: 1 !important;
          @keyframes rotate{
            0%{transform: rotate(0);}
            100%{transform: rotate(360deg);}
          }
        }
      }
      .date {
        padding: 4px 7px;
        border-radius: 5px;
        display: inline-block;
        background: var(--dark-color);
        span {
          &:first-child {
            margin-right: 10px;
          }
          font-size: 0.8em;

          i {
            margin-right: 5px;
          }
        }
      } //date
      .temp {
        display: flex;
        align-items: center;
        margin: 15px 0;
        img {
          width: 80px;
          height: 80px;
          object-fit: contain;
          object-position: center;
          margin-right: 20px;
          box-sizing: border-box;
          background: #fff;
          box-shadow: 5px 5px 0 var(--main-color);
        }
        b {
          font-size: 3.5em;
          font-weight: 100;
          i {
            margin-right: 10px;
          }
        } //b
      } //temp
      .desc {
        margin-top: 20px;
        b {
          margin-right: 10px;
          color: #fff;
          vertical-align: middle;
          &:last-child {
            font-size: 1.2em;
          }
        }
      } //desc
      .etc {
        font-size: 0.9em;
        b {
          &::after {
            content: "/";
            margin: 0 10px;
          }
          .wind-deg {
            margin-left: 5px;
          }
        }
      } //etc
    } //wrap
  } //inner
}
